In [87]:
# Importando os módulos necessários
import psycopg2
import pandas as pd

In [88]:
# Verificando a versão do python
from platform import python_version
print("Versão do python: ", python_version())

Versão do python:  3.9.7

### Acessando as informações do banco de dados

In [89]:
# Função para criar conexão com o banco de dados
def conecta_db():
    try:
        con = psycopg2.connect(host='ec2-3-222-74-92.compute-1.amazonaws.com', 
                             database='dfo2vqe9hs2knm',
                             user='zgbodaynfjorzt', 
                             password='d2b11c0c6039df67f39d22f680fb92a843a1b652e3d5b692f6670c0a2abc2804')
        
        print("Conexão realizada com sucesso", flush = True)
        
        return con
    
    except:
        print("Erro na conexão", flush = True)

In [90]:
# Função para consultas no banco
def consulta_db(sql, con):
    cur = con.cursor()
    cur.execute(sql)
    column_names = [desc[0] for desc in cur.description]
    recset = cur.fetchall()
    registros = []
    colunas = []
    
    colunas.append(column_names)
    
    for rec in recset:
        registros.append(rec)
        
    #con.close()
    return registros, colunas

In [91]:
# Realizando a consulta no PostegreSQL
con = conecta_db()
reg, colunas = consulta_db('select * from tabela', con)

Conexão realizada com sucesso

In [92]:
# Transformando os dados obtidos em DataFrames
df_tabela = pd.DataFrame(reg, columns = colunas)

In [93]:
# Visualizando algumas informações sobre o dataframe
df_tabela.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431114 entries, 0 to 431113
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   (id_form,)              431114 non-null  object
 1   (id_cliente,)           431114 non-null  object
 2   (data,)                 431114 non-null  datetime64[ns]
 3   (sistema_operacional,)  431114 non-null  object
 4   (navegador,)            337417 non-null  object
 5   (localizacao,)          431114 non-null  object
 6   (locale,)               431114 non-null  object
 7   (cidade,)               416908 non-null  object
 8   (estado,)               430916 non-null  object
 9   (qtde_lavagem_semana,)  431114 non-null  int64
 10  (utm_source,)           375083 non-null  object
 11  (tipo_cabelo,)          431114 non-null  object
 12  (comprimento,)          431114 non-null  object
 13  (tipo_fios,)            431114 non-null  object
 14  (procedimentos,)        431114 non-null  object
 15  (tempo_procedimento,)   431114 non-null  object
 16  (dieta,)                431114 non-null  object
 17  (atividade_fisica,)     431114 non-null  object
 18  (frequencia_estresse,)  431114 non-null  object
 19  (caracteristica,)       431114 non-null  object
 20  (faixa_etaria,)         431114 non-null  object
 21  (efeitos_desejados,)    430124 non-null  object
 22  (fragancia,)            431114 non-null  object
 23  (id_pedido,)            57305 non-null   object
 24  (data_pedido,)          57305 non-null   datetime64[ns]
 25  (status_pagamento,)     57305 non-null   object
 26  (target,)               431114 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(23)
memory usage: 88.8+ MB

In [94]:
# Visualizando algumas linhas do dataframe
df_tabela.head()

,id_form,id_cliente,data,sistema_operacional,navegador,localizacao,locale,cidade,estado,qtde_lavagem_semana,...,atividade_fisica,frequencia_estresse,caracteristica,faixa_etaria,efeitos_desejados,fragancia,id_pedido,data_pedido,status_pagamento,target
0,00002c1bc1ba15dda6b464c3d9f5c0,05a9e9df804205ce674a,2022-04-01 18:00:10,Android,Chrome,"São Paulo, Sao Paulo",BR,SÃO PAULO,SAO PAULO,2,...,Sempre,Nunca,"Característica 3, Característica 8",25 a 34,"Efeito 6, Efeito 2, Efeito 3, Efeito 7, Efeito 1",Eucalipto,None,NaT,None,0
1,00006efd76621cecff99ab45808825,d19d099fe4b885f3def6,2022-03-19 20:59:44,iOS,None,"Fortaleza, Ceara",BR,FORTALEZA,CEARA,5,...,N/C,Nunca,Característica 3,2 a 10,Efeito 3,Flores do campo,None,NaT,None,0
2,0000b7569efba16c625fc660edbeeb,5855e4b6c1db7b362a50,2022-03-29 17:59:07,Android,Chrome,"Feira de Santana, Bahia",BR,FEIRA DE SANTANA,BAHIA,6,...,Raramente,Nunca,"Característica 8, Característica 3",18 a 24,"Efeito 7, Efeito 4, Efeito 1, Efeito 5",Rosas,None,NaT,None,0
3,0000bf4fea27a1b7a56ac573b8bd13,8c170499417b3968233e,2022-04-18 06:24:25,Android,Chrome,"Ibipora, Parana",BR,IBIPORA,PARANA,4,...,Raramente,Uma vez por mês,"Característica 3, Característica 8, Caracterís...",18 a 24,"Efeito 6, Efeito 7, Efeito 2, Efeito 1, Efeito 3",Rosas,None,NaT,None,0
4,0000d49b62aceb99740e8e98d09686,85ddc5ba3fa7c4ae7036,2022-03-16 18:53:47,Android,Chrome,"Brasília, Federal District",BR,BRASÍLIA,FEDERAL DISTRICT,1,...,Sempre,Uma vez por mês,Característica 8,25 a 34,"Efeito 6, Efeito 2, Efeito 4, Efeito 1",Eucalipto,None,NaT,None,0

### Tratamento e Seleção de Features

Incialmente alguns atributos já podem ser removidas do dataset pois não possuem relação direta com o obejtivo final. Os atributos escolhidos para serem removidos incialmente foram: "sistema_operacional", "navegador","id_form", "id_cliente", 
"data", "localizacao", "locale, "cidade", "estado", "id_pedido", "data_pedido", "status_pagamento".

In [95]:
# Removendo os atributos listados anteriormente
df_tabela.drop(columns=[ "sistema_operacional", "navegador","id_form", "id_cliente", "data", "localizacao", 
                        "locale", "cidade", "estado", "id_pedido", "data_pedido", "status_pagamento"], inplace = True)
df_tabela.info()
df_tabela.head()

C:\Users\Cellere\AppData\Local\Temp/ipykernel_8036/3502977942.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_tabela.drop(columns=[ "sistema_operacional", "navegador","id_form", "id_cliente", "data", "localizacao",

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431114 entries, 0 to 431113
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   (qtde_lavagem_semana,)  431114 non-null  int64
 1   (utm_source,)           375083 non-null  object
 2   (tipo_cabelo,)          431114 non-null  object
 3   (comprimento,)          431114 non-null  object
 4   (tipo_fios,)            431114 non-null  object
 5   (procedimentos,)        431114 non-null  object
 6   (tempo_procedimento,)   431114 non-null  object
 7   (dieta,)                431114 non-null  object
 8   (atividade_fisica,)     431114 non-null  object
 9   (frequencia_estresse,)  431114 non-null  object
 10  (caracteristica,)       431114 non-null  object
 11  (faixa_etaria,)         431114 non-null  object
 12  (efeitos_desejados,)    430124 non-null  object
 13  (fragancia,)            431114 non-null  object
 14  (target,)               431114 non-null  int64
dtypes: int64(2), object(13)
memory usage: 49.3+ MB

,qtde_lavagem_semana,utm_source,tipo_cabelo,comprimento,tipo_fios,procedimentos,tempo_procedimento,dieta,atividade_fisica,frequencia_estresse,caracteristica,faixa_etaria,efeitos_desejados,fragancia,target
0,2,influencer,Tipo 1,Muito curto,Perfeitos,Corte agressivo,Há 2 semanas,Celíaca,Sempre,Nunca,"Característica 3, Característica 8",25 a 34,"Efeito 6, Efeito 2, Efeito 3, Efeito 7, Efeito 1",Eucalipto,0
1,5,tiktok,Tipo 2,Raíz exposta,Pontas duplas,Todos acima,Há mais de 1 mês,Celíaca,N/C,Nunca,Característica 3,2 a 10,Efeito 3,Flores do campo,0
2,6,facebook,Tipo 4,Extra longo,Secos,Todos acima,Há mais de 1 mês,Celíaca,Raramente,Nunca,"Característica 8, Característica 3",18 a 24,"Efeito 7, Efeito 4, Efeito 1, Efeito 5",Rosas,0
3,4,facebook,Tipo 1,Raíz exposta,Secos,"Corte agressivo, Tintura",Há 2 semanas,Nenhuma restrição,Raramente,Uma vez por mês,"Característica 3, Característica 8, Caracterís...",18 a 24,"Efeito 6, Efeito 7, Efeito 2, Efeito 1, Efeito 3",Rosas,0
4,1,influencer,Tipo 1,Raíz exposta,Secos,"Tintura, Corte agressivo",Há 1 mês,Celíaca,Sempre,Uma vez por mês,Característica 8,25 a 34,"Efeito 6, Efeito 2, Efeito 4, Efeito 1",Eucalipto,0

In [96]:
# Criando uma lista para cada efeito desejado, quando o efeitos estiver presente na linha a lista recebe o valor 1, quando não
# recebe 0

Efeito_1 = []
Efeito_2 = []
Efeito_3 = []
Efeito_4 = []
Efeito_5 = []
Efeito_6 = []
Efeito_7 = []


for row in df_tabela.itertuples():
    
    if "Efeito 0" in str(row):
        print("aqui")
    
    if "Efeito 1" in str(row):
        Efeito_1.append(1)
    else:
        Efeito_1.append(0)
        
    if "Efeito 2" in str(row):
        Efeito_2.append(1)
    else:
        Efeito_2.append(0)
        
    if "Efeito 3" in str(row):
        Efeito_3.append(1)
    else:
        Efeito_3.append(0)
        
    if "Efeito 4" in str(row):
        Efeito_4.append(1)
    else:
        Efeito_4.append(0)
        
    if "Efeito 5" in str(row):
        Efeito_5.append(1)
    else:
        Efeito_5.append(0)
        
    if "Efeito 6" in str(row):
        Efeito_6.append(1)
    else:
        Efeito_6.append(0)
        
    if "Efeito 7" in str(row):
        Efeito_7.append(1)
    else:
        Efeito_7.append(0)

In [97]:
# Criando uma lista para cada característica, quando a característica estiver presente na linha a lista recebe o valor 1, 
# quando não recebe 0

Caracteristica_1 = []
Caracteristica_2 = []
Caracteristica_3 = []
Caracteristica_4 = []
Caracteristica_5 = []
Caracteristica_6 = []
Caracteristica_7 = []
Caracteristica_8 = []


for row in df_tabela.itertuples():
    
    if "Caracteristica 1" in str(row):
        Caracteristica_1.append(1)
    else:
        Caracteristica_1.append(0)
        
    if "Caracteristica 2" in str(row):
        Caracteristica_2.append(1)
    else:
        Caracteristica_2.append(0)
        
    if "Caracteristica 3" in str(row):
        Caracteristica_3.append(1)
    else:
        Caracteristica_3.append(0)
        
    if "Caracteristica 4" in str(row):
        Caracteristica_4.append(1)
    else:
        Caracteristica_4.append(0)
        
    if "Caracteristica 5" in str(row):
        Caracteristica_5.append(1)
    else:
        Caracteristica_5.append(0)
        
    if "Caracteristica 6" in str(row):
        Caracteristica_6.append(1)
    else:
        Caracteristica_6.append(0)
        
    if "Caracteristica 7" in str(row):
        Caracteristica_7.append(1)
    else:
        Caracteristica_7.append(0)
    
    if "Caracteristica 8" in str(row):
        Caracteristica_8.append(1)
    else:
        Caracteristica_8.append(0)

In [100]:
# Criando uma lista para cada procedimento, quando a característica estiver presente na linha a lista recebe o valor 1, 
# quando não recebe 0

Corte_agressivo = []
Exposição_ao_sol = []
Nenhum = []
Tintura = []
N_C = []
Todos_acima = []

for row in df_tabela.itertuples():
    
    if "Corte agressivo" in str(row):
        Corte_agressivo.append(1)
    else:
        Corte_agressivo.append(0)
        
    if "Exposição ao sol" in str(row):
        Exposição_ao_sol.append(1)
    else:
        Exposição_ao_sol.append(0)
        
    if "Tintura" in str(row):
        Tintura.append(1)
    else:
        Tintura.append(0)
        
    if "N/C" in str(row):
        N_C.append(1)
    else:
        N_C.append(0)
        
    if "Todos acima" in str(row):
        Todos_acima.append(1)
    else:
        Todos_acima.append(0)

In [101]:
# Adicionando as lista anteriores ao dataframe e removendo a coluna "efeitos_desejados"
df_tabela=df_tabela.assign(Efeito_1=Efeito_1, Efeito_2=Efeito_2, Efeito_3=Efeito_3, Efeito_4=Efeito_4, Efeito_5=Efeito_5, 
                 Efeito_6= Efeito_6, Efeito_7=Efeito_7)
df_tabela.drop(columns=["efeitos_desejados", "caracteristica", "procedimentos"], inplace = True)
df_tabela.head()

C:\Users\Cellere\AppData\Local\Temp/ipykernel_8036/1543937398.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df_tabela.drop(columns=["efeitos_desejados", "caracteristica", "procedimentos"], inplace = True)

,qtde_lavagem_semana,utm_source,tipo_cabelo,comprimento,tipo_fios,tempo_procedimento,dieta,atividade_fisica,frequencia_estresse,faixa_etaria,fragancia,target,Efeito_1,Efeito_2,Efeito_3,Efeito_4,Efeito_5,Efeito_6,Efeito_7
0,2,influencer,Tipo 1,Muito curto,Perfeitos,Há 2 semanas,Celíaca,Sempre,Nunca,25 a 34,Eucalipto,0,1,1,1,0,0,1,1
1,5,tiktok,Tipo 2,Raíz exposta,Pontas duplas,Há mais de 1 mês,Celíaca,N/C,Nunca,2 a 10,Flores do campo,0,0,0,1,0,0,0,0
2,6,facebook,Tipo 4,Extra longo,Secos,Há mais de 1 mês,Celíaca,Raramente,Nunca,18 a 24,Rosas,0,1,0,0,1,1,0,1
3,4,facebook,Tipo 1,Raíz exposta,Secos,Há 2 semanas,Nenhuma restrição,Raramente,Uma vez por mês,18 a 24,Rosas,0,1,1,1,0,0,1,1
4,1,influencer,Tipo 1,Raíz exposta,Secos,Há 1 mês,Celíaca,Sempre,Uma vez por mês,25 a 34,Eucalipto,0,1,1,0,1,0,1,0

https://paulovasconcellos.com.br/como-selecionar-as-melhores-features-para-seu-modelo-de-machine-learning-2e9df83d062a
https://dataml.com.br/como-escolher-as-melhores-features-para-um-modelo-de-aprendizado-de-maquina/

In [104]:
data_final = pd.concat([df_tabela[["qtde_lavagem_semana", "Efeito_1", "Efeito_2",  "Efeito_3",  "Efeito_4",  
                                   "Efeito_5", "Efeito_6", "Efeito_7", "Caracteristica_1", "Caracteristica_2",
                                   "Caracteristica_3", "Caracteristica_4", "Caracteristica_5", "Caracteristica_6",
                                   "Caracteristica_7", "Caracteristica_8", "Corte_agressivo", "Exposição_ao_sol",
                                   "Nenhum", "Tintura", "N_C", "Todos_acima", "target"]],
                pd.get_dummies(df_tabela[["utm_source" ,"tipo_cabelo", "comprimento", "tipo_fios",
                                        "tempo_procedimento", "dieta", "atividade_fisica", "frequencia_estresse", 
                                        "faixa_etaria","fragancia"]],
                                        drop_first = True)], axis = 1)
data_final.head()

,"(qtde_lavagem_semana,)","(Efeito_1,)","(Efeito_2,)","(Efeito_3,)","(Efeito_4,)","(Efeito_5,)","(Efeito_6,)","(Efeito_7,)","(target,)","('utm_source',)_IGShopping",...,"('frequencia_estresse',)_Uma vez por mês","('faixa_etaria',)_18 a 24","('faixa_etaria',)_2 a 10","('faixa_etaria',)_25 a 34","('faixa_etaria',)_35 a 44","('faixa_etaria',)_45 a 54","('faixa_etaria',)_55 a 64","('faixa_etaria',)_65+","('fragancia',)_Flores do campo","('fragancia',)_Rosas"
0,2,1,1,1,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,5,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,6,1,0,0,1,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,4,1,1,1,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,0,1
4,1,1,1,0,1,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0

### Reorganizando o dataframe

In [110]:
data_final.columns = ['qtde_lavagem_semana','Efeito_1','Efeito_2','Efeito_3','Efeito_4','Efeito_5','Efeito_6','Efeito_7',
'target','IGShopping','adwords', 'all', 'blog', 'copy_link','cpc','email','email_sf','facebook','facebook','google',
'incicacao','influencer','instagram','linktree','meliuz','microinfluencer','popup','rakuten','salesforce','santander',
'sendinblue','sf','sf_camp_email','sf_email_camp','sf_email_flux','sf_sms_camp','sf_wpp_camp','sf_wpp_flu','sf_wpp_flux',
'site','sms','telegram','teste_source','tiktok','uaubox','whatsapp','Tipo 2','Tipo 3','Tipo 4','Longo','Muito curto',
'Raíz exposta','Pontas duplas','Rebeldes','Secos','Há 1 semana','Há 2 semanas','Há mais de 1 mês','Não houve procedimentos',
'Intolerante a lactose','Leve','Nenhuma restrição','N/C', 'Nunca','Raramente','Sempre','Quase sempre','Regularmente',
'Uma vez por mês','18 a 24','2 a 10','25 a 34','35 a 44','45 a 54','55 a 64','65+','Flores do campo','Rosas']

In [111]:
data_final.head()

,qtde_lavagem_semana,Efeito_1,Efeito_2,Efeito_3,Efeito_4,Efeito_5,Efeito_6,Efeito_7,target,IGShopping,...,Uma vez por mês,18 a 24,2 a 10,25 a 34,35 a 44,45 a 54,55 a 64,65+,Flores do campo,Rosas
0,2,1,1,1,0,0,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,5,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,6,1,0,0,1,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
3,4,1,1,1,0,0,1,1,0,0,...,1,1,0,0,0,0,0,0,0,1
4,1,1,1,0,1,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0